<% books.each.with_index(1) do |book, index| %>
  <div class="mx-auto my-auto">
    <div class="d-inline-block text">
      <%= link_to book_path(book), style: "height:90px;" do %>
        <span class="rank_number_box">
          <i class="fas fa-crown fa-lg rank_number_icon"></i>
          <span class="rank_number"><%= index %></span>
        </span>
        <%= image_tag book.image_url + "?_ex=100x100", style: "width:90px;", class: 'img-fluid pl-4' %>
      <% end %>
    </div>
    <div class="d-inline-block text pl-4">
      <%= link_to book_path(book), class:"text" do %>
        <%= truncate(book.title, length: 15, omission: "[...]") %>
      <% end %><br>
      <div class="d-inline" id="star-rate-<%= rank %>-<%= book.id %>"></div>
      <div class="d-inline pl-2">
          <strong>
            <%= book.calculate_average_rate %>
          </strong>
      </div>
    </div>
  </div><hr>
  <%= render 'public/books/rate_avg', book: book, rank: rank %>
<% end %>