<div class="row pt-3">
  <div class="col">
  </div>
  <div class="text-center col-auto">
    <div class="text title">
      <h2><strong><i class="fas fa-comments pr-1"></i>新着レビュー</strong></h2>
    </div>
    <div class="swiper mx-auto pt-3">
      <div class="swiper-wrapper">
        <% @reviews.each_with_index do |review, index| %>
          <div class="swiper-slide">
            <div class="top_new_review">
              <div class="top_new_review person_info col-sm-3">
                <div class="text">
                  <%= image_tag review.user.get_profile_image(80,80), class: "rounded-circle" %><br>
                  <strong><%= review.user.user_name %></strong><br>
                  <%= review.user.age_group %>/
                  <%= review.user.gender_i18n %>
                </div>
              </div>
              <div class="top_new_review_box border border-rounded col-sm-9 py-3">
                <div class="top_new_review book_product d-inline text-center p-2 m-2">
                  <%= link_to book_path(review.book), style: "height:120px;" do %>
                    <%= image_tag review.book.image_url + "?_ex=120x120", class: 'img-fluid' %>
                  <% end %><br>
                  <%= link_to book_path(review.book), class: 'd-block text-center' do %>
                    <small class="text"><%= truncate(review.book.title, length: 10, omission: "[...]") %></small>
                  <% end %>
                </div>
                <div class="top_new_review book_review text">
                  <p id="star-rate-<%= review.id %>"></p>
                  <div>
                    <%= truncate(review.content, length: 50, omission: "[...]") %>
                  </div>
                  <div class="pb-2">
                    <small class="d-inline-block"><%= review.created_at&.strftime("%Y年%m月%d日") %></small>
                    <%= render 'public/review_likes/review_like', review:review %>
                  </div>
                </div>
              </div>
            </div>
            <script>
              $('#star-rate-<%= review.id %>').empty();
               $('#star-rate-<%= review.id%>').raty({
                      size      : 36,
                      starOff   : '<%= asset_path('star-off.png') %>',
                      starOn    : '<%= asset_path('star-on.png') %>',
                      half      : false,
                      readOnly: true,
                      score: <%= review.rate %>,
                    });
            </script>
          </div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <script>
      $(document).ready(() => {
        const swiper = new Swiper('.swiper', {
        speed: 900,
        slidesPerView: '1',
        effect: "fade",
        loop: true,
        autoplay: {
          delay: 3200,
          disableOnInteraction: false,
        },
        fadeEffect: {
          crossFade: true
        },

        pagination: {
          el: '.swiper-pagination',
        },

        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        }
        });
      });
    </script>

    <div class="text title mt-3">
      <h2><strong><i class="fas fa-star pr-1"></i>注目ランキング</strong></h2>
    </div>
    <div class="rank mx-auto py-3">
      <div class="top_main_content searchable">
        <ul class="nav nav-tabs justify-content-center nav-pills nav-justified">
          <li class="nav-item pr-1">
            <a href="#rank1" class="nav-link active" data-toggle="tab">総合評価</a>
          </li>
          <li class="nav-item pl-1">
            <a href="#rank2" class="nav-link" data-toggle="tab">レビュー数</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="rank1" class="tab-pane active pt-3">
            <%= render 'public/homes/rank', books: @bookRates, rank: "rank1" %>
          </div>
          <div id="rank2" class="tab-pane pt-3">
            <%= render 'public/homes/rank', books: @bookReviews, rank: "rank2" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
  </div>

</div>