<div class="ml-2 mb-5 pl-3 review-color">
  <h4>
    <i class="fas fa-comments"></i>
    レビュー一覧ページ
  </h4>
</div>
<div class="row">
    <div class="row">
     <% @books.each do |book| %>
      <div class="col-md-4 my-2">
       <div class="square-box border rounded c enter-block px-4 mx-auto">
        <div class="row">
          <div class="col-4">
            <div>
              <%= link_to book_path(book) do %>
                <%= image_tag book.image_url + "?_ex=100x100" %>
              <% end %>
            </div>
            <div>
              <%= book.reviews.count %>件のレビュー
            </div>
          </div>
          <div class="col-8">
             <%= link_to book_path(book) do %>
              <strong class="text-dark"><%= book.title %></strong>
             <% end %>
            <p id="star-rate-<%= book.id %>"></p>
            <p>
              <% if book.reviews.present? %>
                <%= (book.reviews.pluck(:rate).sum / book.reviews.count.to_f).round(1) %>
              <% end %>
            </p>
          </div>
          <div class="btn btn-warning">
            <%= link_to book_path(book), class:"text-dark" do %>
              詳細
            <% end %>
          </div>
        </div>
       </div>
      </div>
      <script>
            $('#star-rate-<%= book.id %>').empty();
            $('#star-rate-<%= book.id %>').raty({
              size: 36,
              starOff: '<%= asset_path('star-off.png') %>',
              starOn: '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= "#{book.reviews.pluck(:rate).sum / book.reviews.count}" %>
            });
      </script>
     <% end %>
    </div>
   </div>
</div>
