<% books.each do |book| %>
    <div class="col-xs-6 col-sm-4 col-md-3 mt-3">
        <%= link_to book_path(book), class: 'd-block text-center', style: "height:250px;" do %>
          <%= image_tag book.image_url + "?_ex=250x250", class: 'img-fluid' %>
        <% end %>

        <%= link_to book_path(book), class: 'd-block text-center' do %>
          <strong class="text-dark"><%= truncate(book.title, length: 12, omission: "[...]") %></strong>
        <% end %>

      <div class="text-center mt-2">
        <div class="d-inline" id="star-rate-<%= book.id %>"></div>
        <div class="d-inline pl-2">
          <% if book.reviews.present? %>
            <strong>
              <%= (book.reviews.pluck(:rate).sum / book.reviews.count.to_f).round(1) %>
            </strong>
          <% end %>
        </div>
      </div>
      <div class="text-center mt-2">
        <% if book.reviews.exists? %>
          <%= book.reviews.count %>件のレビュー
        <% else %>
          0件のレビュー
        <% end %>
      </div>
      <div class="text-center mt-2">
        <div class="d-inline-block">
          <%= link_to "詳細", book_path(book), class:"text-dark px-3 btn btn-warning" %>
        </div>
        <div class="d-inline-block pl-2">
          <%= render 'public/books/bookmark', book: book %>
        </div>
      </div>
    </div>
    <script>
      <% if book.reviews.present? %>
        $('#star-rate-<%= book.id %>').empty();
        $('#star-rate-<%= book.id %>').raty({
          size: 36,
          starOff: '<%= asset_path('star-off.png') %>',
          starOn: '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= "#{book.reviews.pluck(:rate).sum / book.reviews.count}" %>
        });
      <% else %>
        $('#star-rate-<%= book.id %>').empty();
        $('#star-rate-<%= book.id %>').raty({
          size: 36,
          starOff: '<%= asset_path('star-off.png') %>',
          starOn: '<%= asset_path('star-on.png') %>',
          half: false,
          readOnly: true,
          score: 0,
        });
      <% end %>
    </script>
<% end %>
<%= paginate books, theme: 'bootstrap-5' %>