<% reviews.each do |review| %>
  <div class="row">
    <div class="col-4">
      <div>
        <%= link_to book_path(book) do %>
          <%= image_tag review.book.image_url + "?_ex=100x100" %>
        <% end %>
      </div>
      <div>
        <%= review.book.reviews.count %>件のレビュー
      </div>
    </div>
    <div class="col-8">
      <%= link_to book_path(review.book) do %>
        <strong class="text-dark"><%= review.book.title %></strong>
      <% end %>
      <p id="star-rate-<%= review.id %>"></p>
    </div>
  </div>
<% end %>
<script>
$('#star-rate-<%= review.id %>').empty();
 $('#star-rate<%= review.id%>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        half      : false,
        readOnly: true,
        score: "#{book.reviews.average(:rate).to_f.round(1)}",
      });
</script>