<div class='review'>
    <div class="row reviewNumber">
      <div class="col-sm-2">
        <%= image_tag review.user.get_profile_image(100,100), class: "rounded-circle" %>
      </div>
      <div class="col-sm-10">
        <%= link_to(review.user) do %>
          <strong><%= review.user.user_name %></strong>
        <% end %>
          <strong>さん</strong><br>
        <%= review.user.age_group %>/
        <%= review.user.gender_i18n %><br>
        評価 :<%= review.rate %>点
        <p id="star-rate-<%= review.id %>"></p>
      </div>
      <div>
        <%= simple_format(review.content) %><br>
        <small class="d-inline-block"><%= review.created_at&.strftime("%Y年%m月%d日") %></small>
        <span id="review_like_buttons_<%= review.id %>"><%= render 'public/review_likes/review_like', review:review %></span>
      </div>
    </div><hr>
    <script>
      $('#star-rate-<%= review.id %>').empty();
       $('#star-rate-<%= review.id%>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: <%= review.rate %>,
            });
    </script>
</div>