<% @books.each do |book| %>
  <div class="row">
    <div class="col-4">
      <div>
        <%= link_to book_path(book) do %>
          <%= image_tag book.image_url + "?_ex=100x100" %>
        <% end %>
      </div>
      <div>
        <% if book.reviews.exists? %>
          <%= book.reviews.count %>件のレビュー
        <% else %>
          0件のレビュー
        <% end %>
      </div>
    </div>
    <div class="col-8">
      <%= link_to book_path(book) do %>
        <strong class="text-dark"><%= book.title %></strong>
      <% end %>
      <p id="star-rate-<%= book.id %>"></p>
      <%= render 'public/books/rate_avg', reviews: book.reviews, book: book %>
      <div>
        <% if book.reviews.present? %>
          <%= (book.reviews.pluck(:rate).sum / book.reviews.count.to_f).round(1) %>
        <% end %>
      </div>
      <div>
        <%= link_to book_path(book), class:"text-dark" do %>
          詳細
        <% end %>
      </div>
    </div>
  </div>
  <hr>
<% end %>
