<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class='row mt-3'>
  <div class="col-sm-4 manga info-top">
    <%= link_to(@book.item_url) do %>
      <%= image_tag @book.image_url + "?_ex=220x220", style: "height:220px;" %>
    <% end %>
    <div class="text-left pt-1"><small class="pl-2 pr-2 mb-2 rounded-pill">著者</small>
      <small><%= @book.author %></small>
    </div>
    <%= link_to(@book.item_url) do %>
      <strong><%= @book.title %></strong>
    <% end %>
    <div class="pb-2 pt-1">
      <p class="d-inline" id="star-rate-<%= @book.id %>"></p>
      <%= render 'public/books/rate_avg', reviews: @book.reviews, book: @book %>
      <p class="d-inline">
        <% if @book.reviews.present? %>
          <strong>
            <%= (@book.reviews.pluck(:rate).sum / @book.reviews.count.to_f).round(1) %>
          </strong>
        <% end %>
      </p>
    </div>

 <%= form_with model: @book, url: new_review_path, method: :get, local: true do |f| %>
   <%= f.hidden_field :isbn %>
   <%= f.hidden_field :title %>
   <%= f.hidden_field :author %>
   <%= f.hidden_field :image_url %>
   <%= f.hidden_field :item_url %>
   <div class="mx-3">
    <%= f.submit "レビューする", class: "btn btn-warning" %>
   </div>
 <% end %>
  </div>
  <div class="col-sm-8">
    <p>
      <%= link_to '新しい順', book_path(latest: "true") %>
     |<%= link_to '古い順', book_path(old: "true") %>
     |<%= link_to '評価の高い順', book_path(star_count: "true") %>
    </p>
     <% if @reviews.blank? %>
       <div class="text-center">
         <%= image_tag 'no-review.png', size: '260x450' %>
       </div>
     <% else %>
         <% @reviews.each do |review| %>
            <div class="row">
              <div class="col-sm-2">
                <%= image_tag review.user.get_profile_image(100,100), class: "rounded-circle" %>
              </div>
              <div class="col-sm-10">
                <%= link_to(review.user) do %>
                  <strong><%= review.user.user_name %></strong>
                <% end %>
                  <strong>さん</strong><br>
                <%= review.user.age_group %>/
                <%= review.user.gender_i18n %><br>
                評価 :<%= review.rate %>点
                <p id="star-rate-<%= review.id %>"></p>
              </div>
              <div>
                <%= simple_format(review.content) %><br>
                <small class="d-inline-block"><%= review.created_at&.strftime("%Y年%m月%d日") %></small>
                <%= render 'public/reviews/review_like', review:review %>
              </div>
            </div><hr>
              <script>
                $('#star-rate-<%= review.id %>').empty();
                 $('#star-rate-<%= review.id%>').raty({
                        size      : 36,
                        starOff   : '<%= asset_path('star-off.png') %>',
                        starOn    : '<%= asset_path('star-on.png') %>',
                        half      : false,
                        readOnly: true,
                        score: <%= review.rate %>,
                      });
              </script>
         <% end %>
     <% end %>
  </div>
</div>

<%= render 'public/books/rate_avg', reviews: @reviews, book: @book %>