<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class='row'>
  <div class="col-sm-4 manga info-top">
    <%= link_to(@book.item_url) do %>
    <div class="pb-3 image">
      <%= image_tag @book.image_url + "?_ex=200x200", class:"mx-3 d-block" %>
    </div>
    <% end %>
    <div class="text-left"><small class="pl-2 pr-2 mb-2 rounded-pill">著者</small>
      <small><%= @book.author %></small>
    </div>
    <%= link_to(@book.item_url) do %>
    <div class="book-info pb-2 text-left">
      <strong><%= @book.title %></strong>
    </div>
    <div>
      <p id="star-rate-<%= @book.id %>"></p>
      <%= render 'public/books/rate_avg', reviews: @book.reviews, book: @book %>
      <p>
        <% if @book.reviews.present? %>
          <%= (@book.reviews.pluck(:rate).sum / @book.reviews.count.to_f).round(1) %>
        <% end %>
      </p>
    </div>
    <% end %>

 <%= form_with model: @book, url: new_review_path, method: :get, local: true do |f| %>
   <%= f.hidden_field :isbn %>
   <%= f.hidden_field :title %>
   <%= f.hidden_field :author %>
   <%= f.hidden_field :image_url %>
   <%= f.hidden_field :item_url %>
   <div class="mx-3">
    <%= f.submit "レビューする", class: "btn btn-warning" %>
   </div>
 <% end %>
  </div>
  <div class="col-sm-8">
     <% if @reviews.blank? %>
         最初の投稿をしてみましょう！
     <% else %>
         <% @reviews.each do |review| %>
            <div class="row">
              <div class="col-sm-2">
                <%= image_tag review.user.get_profile_image(100,100), class: "rounded-circle" %>
              </div>
              <div class="col-sm-10">
                <%= link_to(review.user) do %>
                  <strong><%= review.user.user_name %></strong>
                <% end %>
                  <strong>さん</strong><br>
                <%= review.user.age_group %>/
                <%= review.user.gender_i18n %><br>
                <p>評価 :<%= review.rate %>点</p>
                <p id="star-rate<%= review.id %>"></p>
                <div>
                  <%= review.content %><br>
                  <small><%= review.created_at&.strftime("%Y年%m月%d日") %></small>
                </div>
              </div>
            </div>
              <script>
                $('#star-rate-<%= review.id %>').empty();
                 $('#star-rate<%= review.id%>').raty({
                        size      : 36,
                        starOff   : '<%= asset_path('star-off.png') %>',
                        starOn    : '<%= asset_path('star-on.png') %>',
                        half      : false,
                        readOnly: true,
                        score: <%= review.rate %>,
                      });
              </script>
         <% end %>
     <% end %>
  </div>
</div>

<script>
  <% if @reviews.present? %>
    $('#star-rate-<%= @book.id %>').empty();
    $('#star-rate-<%= @book.id %>').raty({
      size: 36,
      starOff: '<%= asset_path('star-off.png') %>',
      starOn: '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= "#{@book.reviews.pluck(:rate).sum / @book.reviews.count}" %>
    });
  <% else %>
    $('#star-rate-<%= @book.id %>').empty();
    $('#star-rate-<%= @book.id %>').raty({
      size: 36,
      starOff: '<%= asset_path('star-off.png') %>',
      starOn: '<%= asset_path('star-on.png') %>',
      half: false,
      readOnly: true,
      score: 0
    });
  <% end %>
</script>
