<div class='container'>
  <div class='row pt-5'>

   <div class='login-flash-message'>
      <%= flash[:alert] %>
   </div>

    <div class="col-sm-12 col-md-9 col-lg-9 px-sm-0 mx-auto tr-color p-3">
      <div class='pb-3 px-2'>
        <h4>ログイン</h4>
      </div>

      <div class="py-1 px-3">
        <p "bg-light">会員の方はこちらからログイン</p>
      </div>

        <div class="px-4">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <table class="table table-borderless px-5">
               <tbody>
                <tr>
                  <td><%= f.label :'ユーザーネーム' %></td>
                  <td><%= f.text_field :user_name, autofocus: true, autocomplete: "user_name" %></td>
                </tr>
                <tr>
                  <td><%= f.label :パスワード %></td>
                  <td><%= f.password_field :password, autocomplete: "new-password", class: 'form-control'%></td>
                </tr>
                <% if devise_mapping.rememberable? %>
                <tr>
                  <td></td>
                  <td><%= f.check_box :remember_me %>
                      <%= f.label :remember_me %></td>
                </tr>
                <% end %>
                <tr>
                  <td></td>
                  <td><%= f.submit "ログイン", class: 'btn btn-outline-primary px-5' %></td>
                </tr>
               </tbody>
              </table>
            </div>
          <% end %>
        </div>

      <div class="py-1 px-2"><h6>会員登録がお済みでない方</h6></div>
      <div class="px-5"><small><%= link_to "こちら",new_user_registration_path %>から新規登録を行ってください</small></div>

    </div>
  </div>
</div>
