<% users.each do |user| %>
  <div>
    <div class="d-inline-block">
      <%= image_tag user.get_profile_image(50,50), class: "rounded-circle" %>
    </div>
    <div class="d-inline-block pl-2">
      <%= link_to user_path(user) do %>
        <strong><%= user.user_name %></strong>
      <% end %>
        <strong>さん</strong><br>
      <small>
        投稿レビュー数 :<%= user.reviews.count.to_i %>件/
        参考になった獲得数:<%= user.review_likes.count.to_i %>
      </small>
    </div>
  </div><hr>
<% end %>